body {
  background-color: black;
  margin: 0;
  color: white;
  font-family: sans-serif;
}

.background {
  background-image: url("./resources/background.svg");
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.players > img {
  width: 100%;
}

.table {
  margin-top: -5px;
  width: 100%;
  z-index: 3;
}

.logo {
  margin-top: -275px;
  width: 72%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo-cover {
  width: 70%;
  height: 170px;
  margin-top: -170px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo-container {
  width: 100%;
  position: sticky;
  top: 220px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

.content h1 {
  margin-top: 5%;
  font-size: 24px;
}

.content p {
  font-size: 18px;
  line-height: 1.5em;
}

/*
.players
.logo
.hand-left
.hand-right */

.hand-left {
    position: fixed;
    overflow: hidden;
    left: calc(-370/1920*100vw);
    bottom: 0;
    width: calc(370/1920*100vw);
    height: auto;
    z-index: 5;
    transition: 0.5s;
}

.slide-left {
  transition: 0.5s;
  left: 0;
}

.hand-right {
    position: fixed;
    overflow: hidden;
    right: calc(-370/1920*100vw);
    bottom: 0;
    width: calc(370/1920*100vw);
    height: auto;
    z-index: 5;
    transition: 0.5s;
}

.slide-right {
  transition: 0.5s;
  right: 0;
}
