body {
  background-color: purple;
  margin: 0;
  color: white;
  font-family: sans-serif;
}

.background {
  background-color: purple;
  background-image: url("./resources/background.svg");
  width: 100%;
  /* height: 1000px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.players {
  height: 80vh;

}
.players > img {
  width: 100%;
  height: auto;
}

/* .players, .logo {
  width: 80%;
  background-color: green;
} */

.logo {
  font-size: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: sticky;
  top: -1px;
}

.content {
  background-color: black;
  height: 1000px;
  padding-top: 24x;
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
}

.content h1 {
  margin-top: 5%;
  font-size: 24px;
}

.content p {
  font-size: 18px;
  line-height: 1.5em;
}

/*
.players
.logo
.hand-left
.hand-right */
