body {
  background-color: black;
  margin: 0;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

.background {
  background-image: url('./resources/background.svg');
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.players {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.players > img {
  width: 80%;
}

.table {
  width: 100%;
  z-index: 3;
}

.batman {
  width: 60vw;
  height: 15vh;
  margin-top: -15.1vh;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: -3px;
  z-index: 2;
}

.logo {
  width: 65vw;
  height: 15vh;
  margin-top: -25vmin;
}

.logo-container {
  position: sticky;
  position: -webkit-sticky;
  top: 15vmin;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.content {
  top: 0;
  z-index: 1;
  margin-top: -1px;
  width: 60vw;
  padding-top: 40px;
}

.content h1 {
  margin-top: 5vw;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1::before {
  content: url('./resources/port.svg');
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.content p {
  font-size: 18px;
  line-height: 1.5em;
}

.hand {
  position: fixed;
  overflow: hidden;
  width: 20vw;
  height: 40vh;
  bottom: 0;
  z-index: 100;
}

.hand-left {
  left: -25vw;
}

.hand-right {
  right: -25vw;
}

/* Here be dragons */

@media (max-width: 900px) and (max-height: 900px) {
  .hand {
    display: none;
  }
  .content {
    width: 85vw;
  }
  .content {
    margin-top: 20px;
  }
  .logo {
    margin-top: -20vmin;
  }
  .batman {
    margin-top: -15.1vh;
    height: 15vh;
  }
}
.batman-fullwidth {
  width: 100%;
}

@media (max-width: 600px) {
  .batman {
    display: none;
  }
  .logo {
    margin: 0;
    padding: 0;
    height: auto;
    margin-top: -40vw;
  }
  .content {
    margin-top: -25px;
  }
  .logo-container {
    margin: 0;
    padding: 0;
    position: relative;
    transform: translate3d(0px, 0px, 0px) scale(1, 1) !important;
  }
  .content p {
    font-size: 16px;
  }
  .content h1 {
    font-size: 24px;
  }
  h1::before {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 900px) {
  .batman {
    margin-top: -20.1vh;
    height: 20vh;
  }
  .logo {
    margin-top: -25vmin;
  }
  .logo-container {
    top: 20vmin;
  }
}
